.home {
    background-image: url("../images/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-top: 350px;
}

.home .main {
    -webkit-margin-start: 400px;
    -webkit-margin-end: 400px;
    -moz-margin-start: 400px;
    -moz-margin-end: 400px;
    background-color: white;
    left: 290px;
    right: 200px;
    border-radius: 10px;
    position: relative;
    top: -30px;
    width: 450px;
}

.home .main .input {
    border: none;
}

.home .main .input #amount {
    width: 46%;
}

.home .main .input label {
    font-style: italic;
    font-weight: bold;
}

.home .main .input #income {
    margin-left: 15px;
}

.home .main .input #expenseCategory, #incomeCategory {
    width: 50%;
}

.home .main .input #datePicker {
    width: 40%;
}

.home .main .input #desc {
    width: 93%;
}

.home .main .input #amount, #desc, #expenseCategory, #incomeCategory, #datePicker {
    height: 30px;
    padding: 5px;
    margin: 0 5px 0 5px;
}

.home .main .input #amount {
    margin-top: 10px;
}

.home .main .input #amount, #desc {
    padding-left: 9px;
}

.home .main .input #amount, #desc, #expenseCategory, #incomeCategory, #datePicker {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid lightblue;
    font-style: italic;
}

.home .main .input #expenseCategory, #incomeCategory {
    height: 45px;
    color: black;
}

.home .main .input .buttons #add, #clear {
    cursor: pointer;
    width: 50px;
    height: 30px;
    font-weight: bold;
    font-style: italic;
    border-radius: 50%;
    border: 3px solid lightgreen;
}

.home .main .input .buttons {
    width: 100%;
    padding-left: 7px;
    float: right;
}

.home .main .input .buttons #resultMessage {
    font-style: italic;
    font-weight: bold;
}
.amountError {
    background-color: lightpink;
}