.home {
    background-image: url("../images/home.jpg");
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}

.home .incomeExpense, .report {
    background-color: white;
    border-radius: 10px;
    position: relative;
    width: 450px;
}

.home .incomeExpense {
    right: 210px;
    top: 125px;
    float: right;
}

.home .report {
    left: 210px;
    top: 350px;
}

.home .report fieldset {
    border: none;
}

.home .report .tableHeader {
    font-weight: bold;
    font-size: 1.1em;
    color: blue;
}

.home .report .tableBody {
    font-style: italic;
    font-weight: bold;
    font-size: 0.9em;
    font-family: Verdana;
}

.home .report .tableBody #currentMonthIncome, #currentMonthExpense, #currentMonthBalance {
    font-size: 1.5em;
    font-style: normal;
    padding: 15px 10px 15px 5px;
    float: right;
}

.home .report .applyBorder {
	padding-left: 10px;
	border-left: solid lightblue 3px;
}

.home .report .tableBody #currentMonthBalance {
    font-size: 2em;
}

.home .report .tableBody #currentMonthIncome {
    color: green;
}

.home .report .tableBody #currentMonthExpense {
    color: red;
}

.home .report .tableBody #previousMonthIncome, #previousMonthExpense, #previousMonthBalance {
    float: right;
    font-size: 1.1em;
    font-style: normal;
    padding: 10px 10px 20px 5px;
}

.home .report .tableBody #previousMonthBalance {
    font-size: 1.5em;
}

.home .report fieldset table {
    width: 100%;
}

.home .incomeExpense .input {
    border: none;
}

.home .incomeExpense .input #amount {
    width: 46%;
}

.home .incomeExpense .input label {
    font-style: italic;
    font-weight: bold;
}

.home .incomeExpense .input #income {
    margin-left: 10px;
}

.home .incomeExpense .input #category {
    width: 50%;
    height: 45px;
}

.home .incomeExpense .input #datePicker {
    width: 40%;
}

.home .incomeExpense .input #desc {
    width: 93%;
}

.home .incomeExpense .input #amount, #desc, #category, #datePicker {
    height: 30px;
    padding: 5px;
    margin: 0 5px 0 5px;
}

.home .incomeExpense .input #amount {
    margin-top: 10px;
}

.home .incomeExpense .input #amount, #desc {
    padding-left: 9px;
}

.home .incomeExpense .input #amount, #desc, #category, #datePicker {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid lightblue;
    font-style: italic;
}

.home .incomeExpense .input .buttons #add, #clear {
    cursor: pointer;
    width: 50px;
    height: 30px;
    font-weight: bold;
    font-style: italic;
    border-radius: 50%;
    border: 3px solid lightgreen;
}

.home .incomeExpense .input .buttons {
    width: 100%;
    padding-left: 7px;
    float: right;
}

.home .incomeExpense .input .buttons #resultMessage {
    font-style: italic;
    font-weight: bold;
}

.amountError {
    background-color: lightpink;
}